<!DOCTYPE HTML>

<html>
<head>
    <title>Spring Boot - POST-GET AJAX Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/libs/bootstrap-3.3.7/bootstrap.css" />
    <!--<link rel="stylesheet" href="/css/libs/bootstrap-3.3.7/bootstrap-theme.min.css" />-->
    <link rel="stylesheet" href="/css/libs/datatable-1.10.16/dataTables.bootstrap.css" />
    <!--<link rel="stylesheet" href="/css/libs/datatable-1.10.16/dataTables.jqueryui.min.css" />-->
    <!--<link rel="stylesheet" href="/css/libs/datatable-1.10.16/dataTables.foundation.min.css" />-->
    <!--<link rel="stylesheet" href="/css/libs/datatable-1.10.16/dataTables.semanticui.min.css" />-->
    <link rel="stylesheet" href="/css/libs/datatable-1.10.16/jquery.dataTables.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>

<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row row-margin-top">
                <table id="example" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Extn.</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Extn.</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
    </div>
</div>

<script src="/js/libs/jquery-3.2.1/jquery.js"></script>
<!--<script src="/js/libs/jquery-1.12.3/jquery.min.js"></script>-->
<!--<script src="/js/libs/bootstrap-3.3.7/bootstrap.min.js"></script>-->
<!--<script src="/js/libs/datatable-1.10.16/dataTables.bootstrap.min.js"></script>-->
<!--<script src="/js/libs/datatable-1.10.16/dataTables.jqueryui.min.js"></script>-->
<!--<script src="/js/libs/datatable-1.10.16/dataTables.foundation.min.js"></script>-->
<!--<script src="/js/libs/datatable-1.10.16/dataTables.semanticui.min.js"></script>-->
<script src="/js/libs/datatable-1.10.16/jquery.dataTables.js"></script>
<script src="/js/index.js"></script>
</body>
</html>